.cvs-list {
  margin: 1.5em 0;

  @media #{$small-up} {
    @include block-grid(1);
  }

  @media #{$medium-up} {
    @include block-grid(2);
  }

  @media #{$large-up} {
    @include block-grid(3);
  }

  li p {
    margin: 5px 0 0 0;
  }
}

.cvs-list__cv {
  list-style-type: none;
  margin-bottom: 1em;
  @include clearfix;

  figure {
    margin: 0;
  }

  .cv__person-name-and-party {
    font-size: 1.2em;

    .party {
      @extend %candidate-party;
      margin-left: 0.0em;
    }
  }
}

