.mentions-list {
  margin: 1.5em 0;
}

.mentions-list__mention {
  list-style-type: none;
  margin-bottom: 0.5em;
  @include clearfix;

  .mention-title {
  }

  .mention-source {
    color: darken($color-cream, 20%);
  }

  .mention-time {
    font-size: 0.8em;
  }
}

.quotes-list {
  margin: 1.5em 0;
}

.quotes-list__quote {
  list-style-type: none;
  margin-bottom: 0.5em;
  @include clearfix;

  .quote-text {
    padding: 0.5em;
  }

  .quote-source {
    text-align: right;
    color: darken($color-cream, 20%);
  }
}

p.warning {
  color: #999;
  font-size: 0.9em;
  padding: 0.5em;
  padding-bottom: 0;
  margin: 0;
}
