.mentions-list {
  margin: 1.5em 0;
}

.mentions-list__mention {
  list-style-type: none;
  margin-bottom: 0.5em;
  @include clearfix;

  .mention-title {
  }

  .mention-source {
    color: darken($color-cream, 20%);
  }

  .mention-time {
    font-size: 0.8em;
  }
}

