{% assign reason=include.reason %}
{% if reason == 'public-domain' %}
  the photo is free of copyright restrictions (i.e. has explictly
  been placed in the public domain)
{% elsif reason == 'copyright-assigned' %}
  they have assigned the copyright of the image to Democracy Club
  so that we may use it on the site
{% elsif reason == 'profile-photo' %}
  this photo is the candidate's profile on social media, or is used
  to promote their candidacy on an official candidate or party website
{% elsif reason == 'other' %}
  here is some reasonable justification for its use
{% endif %}