{% assign person=site.data.people.id[include.person.id] %}

<div class="pre-content">
  <div class="container">
    <div class="polling-stations">
        <p>
            You do not need your poll card to vote. If you aren't sure where your polling station is,
            check out our <a href='http://pollingstations.democracyclub.org.uk'>polling stations site</a>
            for a map or the contact details of your local council. You can vote between 7AM and 10PM.
        </p>
    </div>
  </div>
</div>
