<div class="container">
      <div class="footer__links">
        <p><a href="/help/api">Open data API</a> · <a href="/help/about">About</a> · <a href="https://github.com/mysociety/yournextmp-popit/issues">Issue tracker</a> · <a href="/help/privacy">Privacy policy</a></p>
      </div>
      <div class="footer__bylines">
        <p>Supported by <a href="https://fullfact.org">Full Fact</a>, <a href="http://unlockdemocracy.org.uk">Unlock Democracy</a>, and <a href="https://mysociety.org">mySociety</a>.</p>
        <p>Built by <a href="https://democracyclub.org.uk/">
          <img src="/images/logo-with-text.png" %}="" alt="Democracy Club" class="dc-logo"></a>
        </p>
      </div>
    </div>
