<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width initial-scale=1" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    {% if page.layout == 'home_page' %}
    <link rel="alternate" type="application/atom+xml" title="RSS" href="/feeds/changes.xml">
    {% endif %}

    <title>
      {% if page.layout == 'home_page' %}
        YourNextMP - 2015 UK general election candidates
      {% else %}
        {% if page.title %}
          {{ page.title }} –
        {% elsif page.person.name %}
          {{ page.person.name }}{% if page.person.candidacies.ge2015 %},
            {{page.person.candidacies.ge2015.party.name}}
            candidate to be MP for {{ page.person.candidacies.ge2015.constituency.name }}
          {% endif %} –
        {% endif %}
        {{ site.title }}
      {% endif %}
    </title>
    <meta name="description" content="{{ site.description }}">

    <!-- Open Graph data -->
    <meta property="og:title" content="{{ page.title }}" />
    <meta property="og:type" content="article" />
    <meta property="og:url" content="{{ page.url | replace:'index.html','' | prepend: site.url }}" />

{% if page.person %}
    {% assign gender_down = page.person.gender|downcase %}

    {% if page.person.image %}
    <meta property="og:image" content="{{ page.person.image }}" />
    {% elsif gender_down == 'female' %}
    <meta property="og:image" content="{{ 'blank-woman.png' | asset_path | prepend: site.url }}"/>
    {% else %}
    <meta property="og:image" content="{{ 'blank-man.png' | asset_path | prepend: site.url }}"/>
    {% endif %}
{% else %}
    <meta property="og:image" content="{{ 'logo.png' | asset_path | prepend: site.url }}" />
{% endif %}

    <meta property="og:image:height" content="80" />
    <meta property="og:image:width" content="80" />
    <meta property="og:site_name" content="YourNextMP" />
    <meta property="og:description" content="{{ page.description }}">
    <meta property="og:locale" content="en_GB" />

    <!-- Twitter card data -->
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="@yournextmp" />
    <meta name="twitter:url" content="{{ page.url | replace:'index.html','' | prepend: site.url }}" />
    <meta name="twitter:title" content="{{ page.title }}" />
{% if page.person %}
    {% assign gender_down = page.person.gender|downcase %}

    {% if page.person.image %}
    <meta property="twitter:image" content="{{ page.person.image }}" />
    {% elsif gender_down == 'female' %}
    <meta property="twitter:image" content="{{ 'blank-woman.png' | asset_path | prepend: site.url }}"/>
    {% else %}
    <meta property="twitter:image" content="{{ 'blank-man.png' | asset_path | prepend: site.url }}"/>
    {% endif %}
{% else %}
    <meta property="twitter:image" content="{{ 'logo.png' | asset_path | prepend: site.url }}" />
{% endif %}
    <meta property="twitter:image:height" content="120" />
    <meta property="twitter:image:width" content="120" />
    <meta name="twitter:description" content="{{ page.description }}"  />

    <link rel="shortcut icon" href="{% asset_path favicon.ico %}"/>
    <link rel="apple-touch-icon" href="{% asset_path apple-touch-icon.png %}"/>

    {% stylesheet main %}
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.url }}">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
</head>
