<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width initial-scale=1" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>
      {% if page.title %}
        {{ page.title }} –
      {% elsif page.person.name %}
        {{ page.person.name }}{% if page.person.candidacies.ge2015 %},
          {{page.person.candidacies.ge2015.party.name}}
          candidate for {{ page.person.candidacies.ge2015.constituency.name }}
        {% endif %} –
      {% endif %}
      {{ site.title }}</title>
    <meta name="description" content="{{ site.description }}">

    <!-- Open Graph data -->
    <meta property="og:title" content="YourNextMP" />
    <meta property="og:type" content="article" />
    <meta property="og:url" content="{{ page.url | replace:'index.html','' | prepend: site.url }}" />
    <meta property="og:image" content="{% if page.person.image %}{{ page.person.image }}{% else %}{{ 'logo.png' | asset_path | prepend: site.url }}{% endif %}" />
    <meta property="og:image:height" content="80" />
    <meta property="og:image:width" content="80" />
    <meta property="og:site_name" content="YourNextMP" />
    <meta property="og:description" content="YourNextMP - {{ site.description }}">
    <meta property="og:locale" content="en_GB" />
    <!-- Twitter card data -->
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="@yournextmp" />
    <meta name="twitter:title" content="YourNextMP" />
    <meta property="twitter:image" content="{% if page.person.image %}{{ page.person.image }}{% else %}{{ 'logo.png' | asset_path | prepend: site.url }}{% endif %}" />
    <meta property="twitter:image:height" content="120" />
    <meta property="twitter:image:width" content="120" />
    <meta name="twitter:url" content="{{ page.url | replace:'index.html','' | prepend: site.url }}" />
    <meta name="twitter:description" content="YourNextMP - {{ site.description }}"  />

    <link rel="shortcut icon" href="{% asset_path favicon.ico %}"/>
    <link rel="apple-touch-icon" href="{% asset_path apple-touch-icon.png %}"/>

    {% stylesheet main %}
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.url }}">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
</head>
