---
layout: default
---

<div class="candidates__known row">
  <ul class="candidate-list" id="candidates" data-magellan-destination="candidates">
  {% for person_id in page.constituency.ynmp %}
    {% assign person = site.data.people.id[person_id] %}
    <li class="candidates-list__person">
        <a href="/person/{{ person.id}}/{{person.name|slugify }}">
        {% if person.image %}
            <img class="person-avatar" src="{{ person.proxy_image }}/0/64"/>
        {% elsif person.gender == 'female' %}
            <img class="person-avatar" src="/images/blank-woman.png"/>
        {% elsif person.gender == 'male' %}
            <img class="person-avatar" src="/images/blank-man.png"/>
        {% else %}
            <img class="person-avatar" src="/images/blank-man.png"/>
        {% endif %}
        </a>

        <div class="person-name-and-party">
          <a href="/person/{{ person.id}}/{{person.name|slugify }}">{{ person.name }}</a>
          <span class="party">{{ person.candidacies['ge2015'].party.name }}</span>
        </div>

        {% if person.cv or person.leaflets %}
        <div class="person-dc-links">
            <ul>
            {% if person.cv %}
            <li><a href='http://cv.democracyclub.org.uk/show_cv/{{ person.id }}'><i class="fa fa-file-text"></i> Curriculum Vitae</a></li>
            {% endif %}
            {% if person.leaflets %}
            {% assign num_leaflets = person.leaflets | size %}
            <li><a href='/person/{{ person.id }}/{{ person.name|slugify }}'><i class="fa fa-paper-plane"></i> {{ num_leaflets }} leaflet{% if num_leaflets > 1 %}s{% endif %}</a></li>
            {% endif %}
            </ul>
        </div>
        {% endif %}

        <div class="person-contact-links">
            <ul>
            {% if person.email %}
            <li><a href='mailto:{{ person.email }}'><i class="fa fa-envelope"></i> Email</a></li>
            {% endif %}
            {% if person.contact_details['twitter'] %}
            <li><a href='https://twitter.com/{{ person.contact_details['twitter'].value }}'><i class="fa fa-twitter"></i> Twitter account</a></li>
            {% endif %}
            </ul>
        </div>
        
        <div class="person-web-links">
            <ul>
            {% if person.links['homepage'] %}
            <li><a href='{{ person.links['homepage'].url }}'><i class="fa fa-home"></i> Homepage</a></li>
            {% endif %}
            {% if person.links['party_PPC_page'] %}
            <li><a href='{{ person.links['party_PPC_page'].url }}'><i class="fa fa-user"></i> Party profile</a></li>
            {% endif %}
            {% if person.links['wikipedia'] %}
            <li><a href='{{ person.links['wikipedia'].url }}'><i class='wikipedia-icon'/></i> Wikipedia article</a></li>
            {% endif %}
            {% if person.links['facebook_page'] %}
            <li><a href='{{ person.links['facebook_page'].url }}'><i class="fa fa-facebook-square"></i> Facebook page</a></li>
            {% endif %}
            {% if person.links['facebook_personal'] %}
            <li><a href='{{ person.links['facebook_personal'].url }}'><i class="fa fa-facebook-square"></i> Facebook profile</a></li>
            {% endif %}
            {% if person.links['linkedin'] %}
            <li><a href='{{ person.links['linkedin'].url }}'><i class="fa fa-linkedin"></i> Linkedin profile</a></li>
            {% endif %}
            </ul>
        </div>
    </li>
  {% endfor %}
  </ul>
</div>

<div class="row">
  <div class="small-12 large-12 columns">
    <div class="cvs-block data-block">
    <h3 id="cvs" data-magellan-destination="cvs">CVs uploaded</h3>

    <p class="info">Sending a CV is usually the very first step of a job application, so <a href="http://cv.democracyclub.org.uk/">Democracy Club CVs</a> is collecting every MP candidate's CV</p>

    {% if page.constituency contains 'cv' %}
      <ul class="cvs-list">
      {% for cv in page.constituency.cv %}
        {% assign person = site.data.people.id[cv.person_id] %}
        <li class="cvs-list__cv">
          <figure>
            <a href="http://cv.democracyclub.org.uk/show_cv/{{ cv.person_id }}">
              <img src="{{ cv.thumb.url }}">
            </a>
            <figcaption class="person-name-and-party">
              <a href="/person/{{ person.id}}/{{person.name|slugify }}">{{ person.name }}</a>
              <span class="party">{{ person.candidacies.ge2015.party.name }}</span>
            </figcaption>
          </figure>
        </li>
      {% endfor %}
      </ul>

      {% if page.constituency.cv.size != page.constituency.ynmp.size %}
      <p>
        <a href="http://cv.democracyclub.org.uk/candidates/{{ page.constituency.mapit.id }}" class="button success">
        Ask the other candidates to upload their CVs</a>
      </p>
      {% endif %}
    {% else %}
      <p>None of the candidates in {{ page.constituency.mapit.name }} have uploaded a CV yet.</p>

      <p>
        <a href="http://cv.democracyclub.org.uk/candidates/{{ page.constituency.mapit.id }}" class="button success">
        Ask these candidates to upload their CVs</a>
      </p>
    {% endif %}
  </div>
</div>

<div class="small-12 large-12 columns">
  <div class="leaflets-block data-block">
    <h3 id="leaflets">Leaflets sent to {{ page.constituency.mapit.name }}</h3>

    <p class="info"><a href="https://electionleaflets.org/">ElectionLeaflets.org</a> is an online archive of political leaflets. It is created by members of the public photographing and classifying what comes through their doors at election time.</p>

    {% if page.constituency contains 'el' %}
    <ul class="leaflets-list">
    {% for leaflet in page.constituency.el %}
      <li class="leaflet-list__cv">
      <figure>
        <a href="https://electionleaflets.org/leaflets/{{ leaflet.pk }}/">
          <img src="{{ leaflet.first_page_thumb }}">
        </a>
        {% if leaflet.publisher_person %}
        <figcaption>
          Sent by {{ leaflet.publisher_person.name }}
        </figcaption>
        {% endif %}
      </figure>
      </li>
    {% endfor %}
    </ul>
    <p>
      <a href="https://electionleaflets.org/constituencies/{{page.constituency.mapit.id}}/{{page.constituency.mapit.name|slugify}}">See more leaflets on ElectionLeaflets.org</a>
    </p>
    {% else %}
    <p>
      No one has uploaded any leaflets in {{ page.constituency.mapit.name }} yet.
    </p>
    {% endif %}
    <p>
      <a href="https://electionleaflets.org" class="button success">
        Upload a leaflet
      </a>
    </p>
    </div>
  </div>
</div>

<div class="row">
  <div class="small-12 large-12 columns">
    <div class="meet-block data-block">
    <h3 id="events">Public events with your candidates in {{ page.constituency.mapit.name }}</h3>
    {% if page.constituency contains 'meet' and page.constituency.meet|length > 0 %}
  <p class="info">
    <a href="http://meetyournextmp.com/linktoseat.html?mapitid={{ page.constituency.mapit.id }}">MeetYourNextMP.com</a> lists independent events in your area so you can go and question your candidates.
    {% if page.constituency contains 'meetPastEventsCount' and page.constituency.meetPastEventsCount == 1 %}
    We know of 1 event that has already happened.
    {% elsif page.constituency contains 'meetPastEventsCount' and page.constituency.meetPastEventsCount > 1 %}
    We know of {{ page.constituency.meetPastEventsCount }} events that have already happened.
    {% endif %}
  </p>
    <ul class="meet-list">
    {% for event in page.constituency.meet %}
      <li class="meet-list__event">
          <time class="event-date" datetime="{{ event.start.rfc2882timezone }}">
            {{ event.start.timestamp|date: "%A, %-d %B %R" }}
          </time>
          <a class="event-title" href='{{ event.siteurl }}'>{{ event.summaryDisplay }}</a>
      </li>
    {% endfor %}
    </ul>
    {% else %}
  <p class="info">
    <a href="http://meetyournextmp.com/linktoseat.html?mapitid={{ page.constituency.mapit.id }}">MeetYourNextMP.com</a> lists independent events in your area. Go and question your candidates!
  </p>
    <p>
    {% if page.constituency contains 'meetPastEventsCount' and page.constituency.meetPastEventsCount == 1 %}
    Sorry, one event has already happened here and we don't know about any more.
    {% elsif page.constituency contains 'meetPastEventsCount' and page.constituency.meetPastEventsCount > 1 %}
    Sorry, {{ page.constituency.meetPastEventsCount }} events have already happened here and we don't know about any more.
    {% else %}
    Sorry, we don't know about any events here.
    {% endif %}
    {% endif %}
    <p>
      <a href="http://meetyournextmp.com/linktoseat.html?mapitid={{ page.constituency.mapit.id }}" class="button success">
        Add events you know about
      </a>
    </p>
  </div>
</div>

<div class="small-12 large-12 columns">
  <div class="mentions-block data-block">
    <h3 id="press">Press mentions for {{ page.constituency.mapit.name }}</h3>

    <p class="info">The national and local press say lots of interesting things about your constituency and candidates, so <a href="https://www.electionmentions.com">Election Mentions</a> is collecting news articles about the {{ page.constituency.mapit.name }} constituency or the candidates standing here. There may be errors.</p>

    <ul class="mentions-list">
      {% for mention in page.constituency.em %}
      <li class="mentions-list__mention">
        <time class='mention-time'>{{ mention.date|date: "%d/%m/%Y" }}</time>
        <a class='mention-title' href="{{ mention.url }}">{{ mention.title }}</a>
        <a class='mention-source' href="{{ mention.url }}">{{ mention.source }}</a>
      </li>
      {% endfor %}
    </ul>
    <p>
      <a href='https://www.electionmentions.com/constituency/{{page.constituency.mapit.id}}' class="button success">Read more on ElectionMentions.com</a>
    </p>
    </div>
  </div>
</div>
