---
layout: default
---

<div class="candidates__known">
<ul class="candidate-list">
{% for person_id in page.constituency.ynmp %}
    {% assign person = site.data.people.id[person_id] %}
    <li class="candidates-list__person">
        {% if person.image %}
        <a href="">
            <img class="person-avatar" src="{{ person.proxy_image }}/0/64"/>
        </a>
        {% else if person.gender|lower == 'female' %}
          <img class="person-avatar" src="/images/blank-woman.png"/>
        {% else %}
          <img class="person-avatar" src="/images/blank-man.png"/>
        {% endif %}

        <div class="person-name-and-party">
          <a href="/person/{{ person.id}}/{{person.name|slugify }}">{{ person.name }}</a>
          <span class="party">{{ person.candidacies['ge2015'].party.name }}</span>
        </div>

        <div class="person-links">
            <ul>
            {% if person.links['homepage'] %}
            <li><a href='{{ person.links['homepage'].url }}'><i class="fa fa-home"></i></a></li>
            {% endif %}
            {% if person.links['party_PPC_page'] %}
            <li><a href='{{ person.links['party_PPC_page'].url }}'><i class="fa fa-user"></i></a></li>
            {% endif %}
            {% if person.links['wikipedia'] %}
            <li><a href='{{ person.links['wikipedia'].url }}'></a></li>
            {% endif %}
            {% if person.links['facebook_page'] %}
            <li><a href='{{ person.links['facebook_page'].url }}'><i class="fa fa-facebook-square"></i></a></li>
            {% endif %}
            {% if person.links['facebook_profile'] %}
            <li><a href='{{ person.links['facebook_profile'].url }}'><i class="fa fa-facebook-square"></i></a></li>
            {% endif %}
            {% if person.links['linkedin'] %}
            <li><a href='{{ person.links['linkedin'].url }}'><i class="fa fa-linkedin"></i></a></li>
            {% endif %}
            {% if person.contact_details['twitter'] %}
            <li><a href='https://twitter.com/{{ person.contact_details['twitter'].value }}'><i class="fa fa-twitter"></i></a></li>
            {% endif %}
            </ul>
        </div>
    </li>
{% endfor %}
</ul>
</div>


<h3>CVs uploaded</h3>

{% if page.constituency contains 'cv' %}
<ul class="cvs-list">
{% for cv in page.constituency.cv %}
  {% assign person = site.data.people.id[cv.person_id] %}
  <li class="cvs-list__cv">
    <figure>
      <a href="http://cv.democracyclub.org.uk/show_cv/{{ cv.person_id }}">
        <img src="{{ cv.thumb.url }}">
      </a>
      <figcaption class="cv__person-name-and-party">
        <a href="/person/{{ person.id}}/{{person.name|slugify }}">{{ person.name }}</a>
        <span class="party">{{ person.candidacies.ge2015.party.name }}</span>
      </figcaption>
    </figure>
  </li>
{% endfor %}
</ul>
{% else %}
<p>None of the candidates in {{ page.constituency.mapit.name }} have uploaded a CV yet!</p>
<p>
  <a href="http://cv.democracyclub.org.uk/candidates/{{ page.constituency.mapit.id }}">
  Ask them to upload their CV</a>
</p>
{% endif %}



<h3>Public events your candidates in {{ page.constituency.mapit.name }}</h3>
{% if page.constituency contains 'meet' %}
{% for event in page.constituency.meet %}
  <h4>{{ event.summaryDisplay }}</h4>
  <time datetime="{{ event.start.rfc2882timezone }}">
    {{ event.start.timestamp|date: "%R" }}, 
    {{ event.start.timestamp|date: "%D" }}
  </time>
  {{ event.description|markdownify }}
{% endfor %}
{% else %}
<p>
  We don't know about any events here yet.
  Can you add any you know about to 
  <a href="http://meetyournextmp.com/area/{{ page.constituency.mapit.id }}">MeetYourNextMP.com</a>?
</p>
{% endif %}


<h3>Leaflets sent to {{ page.constituency.mapit.name }}</h3>
{% if page.constituency contains 'el' %}
{% for leaflet in page.constituency.el %}
  <figure>
    <a href="https://electionleaflets.org/leaflets/{{ leaflet.pk }}/">
      <img src="{{ leaflet.first_page_thumb }}">
    </a>
    {% if leaflet.publisher_person %}
    <figcaption>
      Sent by {{ leaflet.person.name }}
    </figcaption>
    {% endif %}
  </figure>
{% endfor %}
{% else %}
<p>
  No one has uploaded any leaflet in {{ page.constituency.mapit.name }} yet.
  Photograph and upload any you get at 
  <a href="https://electionleaflets.org">ElectionLeaflets.org</a>
</p>
{% endif %}




<h3>Press mentions of candidates in {{ page.constituency.mapit.name }}</h3>
<ul class="candidate-list">
{% for mention in page.constituency.em %}
  <li class="candidates-list__person">
    <blockquote cite="{{ mention.url }}">{{ mention.title }}
      <footer>
        <a href="{{ mention.url }}">{{ mention.source }}</a> 
        {{ mention.date|date: "%D" }}
      </footer>
    </blockquote>
  </li>
{% endfor %}
</ul>

