<!DOCTYPE html>
<html>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

  {% include head.html %}

  <body>
    <div class="header">
      <div class="container">
        {% include nav.html %}
        <div class="header__hero">
            <h1>{{ page.hero }}</h1>
        </div>
      </div>
    </div>
    <div class="content">
      <div class="container">
          {{ content }}
      </div>
    </div>
  </body>
</html>
