---
layout: default
---
{% assign last_letter_of_name=page.person.name|split:''|last %}

<div class='person__details'>
  <p>
    {{ page.person.name }} is running in <a href='/constituency/{{ page.person.candidacies.ge2015.constituency.post_id }}/'>{{ page.person.candidacies.ge2015.constituency.name }}</a> as a {{ page.person.candidacies.ge2015.party.name }} candidate.

  {% if page.person.candidacies.ge2010 %}
    {{ page.person.gender | pronoun:"subject" | capitalize }} previously ran in
    {% if page.person.candidacies.ge2010.constituency.post_id == page.person.candidacies.ge2015.constituency.post_id %}
        the same constituency
    {% else %}
        {{ page.person.candidacies.ge2010.constituency.name }}
    {% endif %}
    in 2010,

    {% if page.person.candidacies.ge2010.party.id == page.person.candidacies.ge2015.party.id %}
    also as a {{ page.person.candidacies.ge2010.party.name }} candidate.
    {% else %}
    as a {{ page.person.candidacies.ge2010.party.name }} candidate.
    {% endif %}
  {% endif %}
  </p>
</div>

<div class='person__buttons'>
  {% if page.person.email %}
  <a class="button" href="mailto:{{ page.person.email }}"><i class="fa fa-envelope"></i> Email {{ page.person.name }}</a>
  {% endif %}
  
  {% if page.person.contact_details.twitter %}
  <a class="button" rel="nofollow" href="https://twitter.com/{{page.person.contact_details.twitter.value}}"><i class="fa fa-twitter"></i> Tweet {{ page.person.name }}</a>
  {% endif %}
  
  {% if page.person.links.wikipedia %}
  <a class="button" rel="nofollow" href="{{ page.person.links.wikipedia.url }}"><i class='wikipedia-icon'/></i>{{ page.person.name }} on Wikipedia</a>
  {% endif %}
  
  {% if page.person.links.facebook_personal %}
  <a class="button" rel="nofollow" href="{{ page.person.links.facebook_personal.url }}"><i class="fa fa-facebook"></i> Facebook profile</a>
  {% endif %}
  
  {% if page.person.links.facebook_page %}
  <a class="button" rel="nofollow" href="{{ page.person.links.facebook_page.url }}"><i class="fa fa-facebook"></i> Facebook campaign page</a>
  {% endif %}
  
  {% if page.person.links.homepage %}
  <a class="button" rel="nofollow" href="{{ page.person.links.homepage.url }}"><i class="fa fa-home"></i> {{ page.person.name|possessive }} website</a>
  {% endif %}
  
  {% if page.person.links.linkedin %}
  <a class="button" rel="nofollow" href="{{ page.person.links.linkedin.url }}"><i class="fa fa-linkedin"></i> LinkedIn profile</a>
  {% endif %}
  
  {% if page.person.links.party_PPC_page %}
  <a class="button" rel="nofollow" href="{{ page.person.links.party_PPC_page.url }}"><i class="fa fa-user"></i> Party profile for {{ page.person.name }}</a>
  {% endif %}

  {% if page.person.party_emblem.proxy_url %}
  <div class="person__party_emblem">
    <img src="{{ page.person.party_emblem.proxy_url}}/240/0">
  </div>
  {% else %}
  <div class="person__party_emblem_spacer">
  </div>
  {% endif %}

  {% assign party = page.person.candidacies.ge2015.party %}
  {% assign party_links = site.data.party_links[page.person.candidacies.ge2015.party.id] %}
  {% for link in party_links.links %}
    <a class="button" rel="nofollow" href="{{ link.url }}">
        {% if link.note == 'facebook page' %}<i class="fa fa-facebook"></i> {{ party.name }} Facebook page
        {% elsif link.note == 'homepage' %}<i class="fa fa-home"></i> {{ party.name }} website
        {% elsif link.note == 'wikipedia' %}<i class='wikipedia-icon'></i>{{ party.name }} on Wikipedia
        {% elsif link.note == 'linkedin' %}<i class="fa fa-linkedin"></i> {{ party.name }} LinkedIn profile
        {% else %}<i class="fa fa-home"></i> {{ party.name }} {{ link.note }}
        {% endif %}
    </a>
  {% endfor %}

</div>

<div class="person__details">
 
  {% if page.person.biography %} 
  <div class='person__bio'>
    <span class='person__box__byline'>from <a href='{{ page.person.links.wikipedia.url }}'>Wikipedia</a> <small><a href='http://en.wikipedia.org/wiki/Wikipedia:Text_of_Creative_Commons_Attribution-ShareAlike_3.0_Unported_License'>CC BY-SA 3.0</a></small></span>
    <h2><i class='fa fa-book'></i> Biography</h2>
    <p>{{ page.person.biography }}</p>
  </div>
  {% endif %}

  <div class='person__cv'>
  <span class='person__box__byline'>by <a href='https://cv.democracyclub.org.uk/'>Democracy Club CVs</a></span>
  <h2><i class='fa fa-file-text-o'></i> CV</h2>
  {% if page.person.cv %}
    <a class='person__cv__imglink' href="http://cv.democracyclub.org.uk/show_cv/{{ page.person.id }}">
      <img src="{{ page.person.cv.thumb.url }}">
    </a>

    <p class='person__cv__text'>
        {{ page.person.name}} has sent us {{ page.person.gender|pronoun:"possessive" }} CV.

        <a href="http://cv.democracyclub.org.uk/show_cv/{{ page.person.id }}">
        Read {{ page.person.name}}'s CV now.
        </a>
    </p>
    <div style='clear:both;'></div>
  {% else %}
    <p class='person__cv__text'>{{ page.person.name }} hasn't sent us {{ page.person.gender|pronoun:"possessive" }} CV.</p>

    <a class='button' href='http://cv.democracyclub.org.uk/upload_cv/{{ page.person.id }}'>Ask {{ pronoun|downcase }} now</a>
  {% endif %}
  </div>
  
  <div class='person__leaflets'>
  <span class='person__box__byline'>by <a href='https://www.electionleaflets.org/'>ElectionLeaflets.org</a></span>
  <h2><i class='fa fa-paper-plane-o'></i> Leaflets</h2>
  {% if page.person.leaflets %}
  <ul class="leaflets-list">
    {% for leaflet in page.person.leaflets %}
      <li class="leaflet-list__cv">
      <figure>
        <a href="https://electionleaflets.org/leaflets/{{ leaflet.pk }}/">
          <img src="{{ leaflet.first_page_thumb }}">
        </a>
      </figure>
      </li>
    {% endfor %}
  </ul>
  {% else %}
    <p>We don't know of any leaflets from {{ page.person.name }}.</p>
  {% endif %}
  <a class='button' href='https://electionleaflets.org/leaflets/add/'>Upload a leaflet now</a>
  </div>

  <div class='person__mentions'>
  <span class='person__box__byline'>by <a href='https://www.electionmentions.com/'>ElectionMentions.com</a></span>
  <h2><i class='fa fa-newspaper-o'></i> Press mentions</h2>
  <p>We don't know of any articles about {{ page.person.name }} right now.</p>
  <form method="post" action="https://www.electionmentions.com/article" class='form-inline'>
    <div class="form-group">
        <label for='url'>Article URL
        <input type='text' name='url' value='' id='url' placeholder='Enter url here...' class="form-control"/>
        </label>
        <input type='submit' value='add article' class="button"/>
    </div>
  </form>
  </div>

  <h2>Demographics:</h2>

  <dl>
    {% if page.person.gender %}
    <dt>Gender</dt>
    <dd>{{page.person.gender|capitalize}}</dd>
    {% endif %}
    {% if page.person.age %}
    <dt>Age</dt>
    {% comment %}
      TODO Add 'th' or 'nd' here
    {% endcomment %}
    <dd>
        {{page.person.age}}
        <small class="dob">
            {% if page.person.birth_date.size > 4 %}
                (Date of birth: {{page.person.birth_date|date: "%-d %B %Y" }})
            {% else %}
                (Year of birth: {{ page.person.birth_date }})
            {% endif %}
        </small>
    </dd>
    {% endif %}
  </dl>

  {% if page.person.image_data %}
  <h2>Photo Credit:</h2>
  <p class="person__photo-credit">
  {% include _photo-credit.html image_data=page.person.image_data %}
  </p>
  {% endif %}

</div>

<div class="person__actions">

  <div class="person__actions__action person__actions__edit">
    <h2>Improve this data!</h2>
    <p>Our database is built by people like you.</p>
    <p>Please do add extra details about this candidate – it only takes a moment.</p>
    <a href="https://edit.yournextmp.com/person/{{ page.person.id }}/update" class="button">Edit candidate</a>
  </div>

  <div class="person__actions__action person__actions__data">
    <h2>Use this data!</h2>
    <p>Open data JSON API, licensed CC-BY-SA 4.0:</p>
    <p><input type="text" value="https://yournextmp.popit.mysociety.org/api/v0.1/persons/{{ page.person.id }}" onclick="this.select();"></p>
    <p>More details about getting <a href="/help/api/">the data</a> and <a href="/help/about/">its license.</a></p>
  </div>

</div>
